__pycache__/
*.pyc
*.zip
.DS_Store
dist/
wheels/*.whl
features/retopology/instant_meshes/native/build/
features/uv/engine/native/build/
features/retopology/instant_meshes/native/dist/
features/retopology/instant_meshes/native/*.egg-info/
