__pycache__/
*.pyc
*.zip
.DS_Store
dist/
alpha_wrap_helper/build/
features/retopology/instant_meshes/native/build/
uv_mapping/native/build/
features/retopology/instant_meshes/native/dist/
features/retopology/instant_meshes/native/*.egg-info/
